a {
	/* primary */
	main: #af99d7;
	contrasttext: #e9edfb;

	/* secondary */
	main: #772e52;
	contrasttext: #e6def2;

	/* background */
	default: #100a19;
	paper: #100a19;

	/* error */
	main: #d72638;
	contrasttext: #e6def2;

	/* warning */
	main: #f49d37;
	contrasttext: #e6def2;

	/* info */
	main: #4a62e8;
	contrasttext: #e6def2;

	/* success */
	main: #76c893;
	contrasttext: #e6def2;

	/* text */
	primary: #e7dff3;
	secondary: #e7dff3;
	disabled: #7b95ea;
}
